@import url("http://fonts.googleapis.com/css?family=Sniglet");
.board {
	// background-color: #083E5C;
	background-color: #075E8F;
	color: #CCCCCC;
	height: 100px;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 20px;
}
.container-h-scroll {
    width: auto;
    min-width: 100px; 
    overflow-x:auto;   
    overflow-y:auto;   
    position: relative;
    min-height: 100%;
    white-space: nowrap;
    height: 100%;
    position: absolute;
}​

.list-container {
	width: 300px;
	background-color: #E9E9E9;
	padding: 5px;
	margin: 10px;
	display: block;
	float:left;
    white-space: nowrap;
    box-shadow: 1px 1px 5px gray;
	min-height: 100px;

}

.dark-grey {
	color: #5F5F5F;

}

.slide-down {
	transition: all 0.4s ease;
}

.list-title {
	font-size: 16px;
	font-family: Sniglet;
	font-weight: bold;

}

.btn-add {
	width: 100%;
	opacity: 0.6;
}

  .tilt {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
  }

 .portlet-placeholder {
 	background-color: blue;
 	width: 300px;
 	margin: 10px;
 	height: 300px;
 	opacity:0.3;
	display: block;
	float: left;
 }