<script type="text/javascript" src="/js/teamodeCommon.js"></script>
<script type="text/javascript" src="/js/loginCtrl.js"></script>
<div class="row" ng-app="teamodeLogin" ng-cloak>
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" ng-controller="LoginCtrl">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 >login </h3>           
                <div style="float:right; font-size: 80%; position: relative; top: -10px"><a href="#">Forgot password?</a></div>
            </div>
            <div class="panel-body" >
                <hr class="colorgraph">
                <form role="form" ng-submit="login()">
                    <div class="form-group"> 
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class= "form-control" ng-model="user.username" placeholder="Username or Email" >
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class= "form-control" placeholder="Password" ng-model="user.password">
                        </div>
                    </div>

                    <label style="margin-bottom:20px;">
                      <input type="checkbox" ng-model="user.remember"> Remember me
                    </label>
                    <button type="button" class="btn btn-primary btn-block" ng-click="login()">Login</button>
                    <div style="text-align:center"><span > Or</span></div>
                    <a class="btn btn-success btn-block" href="/signup" >Register</a>
                    <input type="submit" style="position: absolute; display:none; width: 1px; height: 1px;"/>
                </form>

            </div> 
        </div>
    </div>
</div>
<div id=alert class="alert alert-info fix-bottom container hidden-ele"> </div>
