<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 >login </h3>           
                <div style="float:right; font-size: 80%; position: relative; top: -10px"><a href="#">Forgot password?</a></div>
            </div>
            <div class="panel-body">
                <hr class="colorgraph">
                <form role="form">
                    <div class="form-group"> 
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class= "form-control" placeholder="Username or Email" >
                        </div>
                    </div>
                </form>
                <form role="form">
                    <div class="form-group"> 
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class= "form-control" placeholder="Password">
                        </div>
                    </div>
                </form>
                <hr class="colorgraph">

            </div> 
        </div>
    </div>
</div>